body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#slider1 .sliderone{
    width: 100%;
}

#banner1169 img{
    margin-top:20px;
    width: 100%;
}

#banner1169_2 img{
    margin-top:20px;
    width: 100%;
}

#slider1169_2 img{
    width: 100%;
    display: flex;
}

#banner1169_3 img{
    margin-top:20px;
    width: 100%;
}

#categories_carousel{
    scroll-snap-type:x mandatory;
    overflow-x: scroll;
    margin-bottom: 50px;
}

.headings1169{
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.2px;
    margin-bottom: 50px;
}

#categories_carousel>.categories_carousel_images{
    display: flex;
    margin-bottom: 50px;
}

#categories_carousel>.categories_carousel_images img{
    margin-inline: 1%;
    height: 400px;
}

#top_deals1169{
    scroll-snap-type:x mandatory;
    overflow-x: scroll;
    margin-bottom: 50px;
    display: flex;
    font-size: 1.25rem;
    text-align: center;
}
#top_deals1169>.deals1169{
    margin-inline: 2%;
    border: 1px solid grey;
}

#top_deals1169>.deals1169 img{
    height: 225px;
}
#top_deals1169>.deals1169 h4{
    height: 50px;
} 
#top_deals1169>.deals1169 p{
    font-weight: 600;
    margin-top:5px;
    margin-bottom:5px;
 
} 
#top_deals1169>.deals1169 button{
    width: 80%;
    margin-top:5px;
    margin-bottom:5px;
    padding:10px;
    font-size: 1.25rem;
    background-color: blue;
    color: white;
    border-radius: 20px;
}

#top_deals1169>.deals1169 button:hover{
    cursor: pointer;
    background-color: rgb(49, 175, 49);
}

#mobile_1169{
    scroll-snap-type:x mandatory;
    overflow-x: scroll;
    margin-bottom: 50px;
    display: flex;
    font-size: 1.25rem;
    text-align: center;
}
#mobile_1169>.mobiles1169{
    margin-inline: 2%;
    border: 1px solid grey;
}

#mobile_1169>.mobiles1169 img{
    height: 225px;
}
#mobile_1169>.mobiles1169 h4{
    height: 50px;
} 
#mobile_1169>.mobiles1169 p{
    font-weight: 600;
    margin-top:5px;
    margin-bottom:5px;
 
} 
#mobile_1169>.mobiles1169 button{
    width: 80%;
    margin-top:5px;
    margin-bottom:5px;
    padding:10px;
    font-size: 1.25rem;
    background-color: blue;
    color: white;
    border-radius: 20px;
}

#mobile_1169>.mobiles1169 button:hover{
    cursor: pointer;
    background-color: rgb(49, 175, 49);
}


.banners_1169{
    display: inline-block;
    width:48%;
    margin: 15px;
}
