body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbar2{
    display: flex;
    justify-content: space-around;
    /* height:50px; */
    background-color: rgb(62, 71, 71);
    padding: 30px;
    text-transform: uppercase;
}

#navbar2 a{
    color: white;

}

.headings1169{
    text-align: center;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#orderContain{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    text-align: center;
    margin-top: 30px;
}