*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#content{
    width: 80%;
    /* height: 600px; */
    height: auto;
    margin: auto;
    margin-top: 45px;
    display: flex;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: sans-serif;
}

#content>img{
    border-radius: 8px;
    height: 600px;
}

#sign_mbl{
    width: 100%;
    margin: 0px 0px  0px 190px;
}

h2{
    margin-top: 35px;
}
#p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 510;
    color: rgb(98, 97, 97);
}

#input{
    margin-top: 50px;
    width: 430px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgb(228, 224, 224);
    display: flex;
    align-items: center;
}
#input>div{
    margin-left: 5px;
    font-size: small;
}
#mbl{
    width: 300px;
    height: 25px;
    margin: 0px 0px 0px 5px;
    border: none;
    outline: 0px;
}

#mblBtn{
    width: 60px;
    height: 60px;
    margin: 5px 0px 0px 200px;
    border: 0px;
    border-radius: 50%;
    background-color: rgb(0, 142, 204);
    color: white;
    font-size: xx-large;
    padding: 0px 0px 2px 2px;
}

#err{
    margin-top: 5px;
    font-size: x-small;
    font-weight: 510;
    color: red;
    font-style: italic;
    visibility: hidden;
}

#center{
    text-align: center;
    width: 270px;
    margin: 15px 0px 30px 620px;
    font-size: small;
    color: rgb(98, 97, 97);
    font-family: sans-serif;
}

#center > a{
    text-decoration: none;
    color: red;
}

/* ----------------------------------------------- */

#signup{
    width: 100%;
    margin: 0px 0px  0px 140px;
    display: none;
}

#slide_left{
    width: 87%;
    margin-left: 10px;
}

.gap{
    width:80%;
    height: 45px;
    margin-top: 35px;
    outline: none;
}

#OTP{
    width: 80%;
    height: 38px;
    outline: none;
}

#checkBox{
    width: 80%;
    height: 60px;
    margin: 40px 0px 0px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid rgb(88, 87, 87);
}
#checkBox>p{
    width: 500px;
}
#checkBox > input{
    width: 25px;
    height: 40px;
}

#wp{
    width: 38px;
    background-color: white;
}

#mbl_no_msg{
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#mbl_msg{
    font-size: small;
}

#change_no{
    color: red;
    font-size: small;
}

#resend{
    font-size: small;
    margin: 5px 0px 15px 330px;
    color: red;
    
}

#verify{
    width: 75%;
    height: 38px;
    margin: 0px 0px 30px 0px;
    background-color: rgb(0, 142, 204);
    color: white;
    border-radius: 4px;
    border: 0px;
    font-size: medium;
}

#alrt{
    border: 1px solid red;
    width: 80%;
    height: 20px;
    font-size: medium;
    color: red;
    font-style: italic;
    /* display: none; */
}
#otpAlrt{
     /* border: 1px solid red;  */
    width: 80%;
    height: 20px;
    font-size: medium;
    color: red;
    font-style: italic;
    display: none;

}



