@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html,
body {
  overflow-x: hidden;
  height: 100%;
}
body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: "Varela Round", sans-serif;
}
#orderContain {
  border: 1px solid none;
  margin-left: 2%;
  font-size: 16px;
  width: 58%;
  font-family: sans-serif;
}
#buttonBox {
  display: flex;
  border: 1px solid none;
  background-color: #f5f5f5;
  /* width: 100%; */
  margin-right: 4%;
  align-items: flex-end;
  justify-content: space-between;
}
#addAddress {
  border: 1px solid #aeaeae;
  padding: 20px 0px 20px 0px;
  width: 200px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
  /* letter-spacing: 0.15px; */
  font-style: normal;
  font-weight: 300;
  color: rgba(21, 27, 57, 0.6);
}
#addressBox {
  background-color: none;
  border: 1px solid none;
  margin-left: 2%;
  display: flex;
  display: inline-block;
}
#typeOfAddress {
  display: flex;
  justify-content: space-between;
}
button {
  background-color: #008ecc;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 5px;
}
#cartItems {
  border: 1px solid none;
  margin-top: 20px;
  margin-left: 2%;
  width: auto;
}
#cartItems > div {
  display: flex;
}
#cartItems > div div {
  border: 1px solid none;
  margin-right: 20px;
}
#cartItems > div:nth-child(1) {
  justify-content: space-between;
}
#paymentContain {
  border: 1px solid none;
  width: 40%;
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 3%;
  font-family: sans-serif;
}
#summaryContainer {
  border: 1px solid none;
  display: flex;
}
#icons {
  border: 1px solid none;
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  vertical-align: middle;
  margin-bottom: 20px;
  /* margin-top: 2%;*/
}
#paymentContain > #icons>span{
  font-size: 16px;
 
}
#icons div {
  height: 1px;
  background-color: #aeaeae;
  width: 20%;
  border: 1px solid none;
  margin-top: 10px;
  display: inline-block;
  vertical-align: bottom;
}

#applycoupon a{
  text-decoration: none;
  color: orange;
  margin-top: 10px;
}
#app {
  display: flex;
}
#mrpTotal,
#mrpTotal ~ div {
  border: 1px solid none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: large;
 margin: 10px 0px 10px 0px;
  color: teal;
}
#total {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#total h3 {
  color: black;
  flex-basis: 50%;
}
#total h3:nth-child(2) {
  text-align: end;
}
#total p {
  flex-basis: 100%;
  text-align: end;
  color: green;
}
span {
  display: block;
}
h5 {
  text-align: right;
  color: #aeaeae;
}
#matterBox {
  width: 100%;
}
#default {
  background-color: red;
  display: inline-flex;
  color: white;
  padding: 2px;
  border-radius: 5px;
}
#paymentButton a {
  text-decoration: none;
  color: white;
  font-weight:bold ;
  font-size: larger;
}
#paymentButton button:hover{
  cursor: pointer;
  background-color: green;
}

#paymentButton button {
  border: 1px solid none;
  margin-left: 40%;
 
}
#cartItems p {
  font-size: 18px;
  font-weight: 550;
}
#wholeDiv {
  display: flex;
  width: 100%;
  background-color: none;
  vertical-align: top;
}
#wholeDiv > div:nth-child(1) {
  border: 1px solid none;
  display: inline-flex;
  margin-right: 10px;
  /* padding-top: 20px; */
}
#typeOfAddress {
  display: flex;
}
#addressBox h3 {
  border: 1px solid none;
  margin-right: 25px;
}
#addressBox span {
  display: block;
  border: 1px solid none;
  margin-bottom: 5px;
}
#icons span {
  font-size: 10px;
  text-align: center;
  margin-top: 8px;
  font-weight: 550;
}
.header {
  display: block;
  width: 100%;
  max-width: 100%;
  background-color: #008ecc;
  /* position: fixed; */
  height: 70px;
  overflow: hidden;
  z-index: 10;
  border: 1px solid none;
}

input {
  display: block;
  border: 1px solid grey;
  margin-bottom: 10px;
  padding: 10px;
}
select {
  width: 130px;
  height: 50px;
  font-size: 18px;
}
#addForm {
  border: 1px solid none;
  margin-right: 20px;
}
button {
  width: 190px;
  display: block;
  /* padding: 10px; */
  background-color: #008ecc;
}
#container {
  display: flex;
  height: 1000px;
  border: 1px solid none;
  padding-left: 15%;
}
#savedAddress {
  /* border: 1px solid black; */
  height: auto;
}
#container button:nth-child(1),
button {
  height: 40px;
  margin-top: 30px;
  border-radius: 20px;
  border: none;
}
#display > div div {
  /* display: flex; */
  justify-content: space-between;
  border: 1px solid none;
}
#display h3 {
  border: 1px solid none;
  margin-right: 25px;
}
#display > div {
  display: flex;
}
#display span {
  display: block;
  border: 1px solid none;
  margin-bottom: 5px;
}
#innerDiv {
  display: flex;
}
#typeOfAddress {
  display: flex;
}
#wholeDiv {
  display: flex;
}
#wholeDiv > div:nth-child(1) {
  border: 1px solid none;
  display: inline-flex;
  margin-right: 10px;
  padding-top: 20px;
}

#deliver_form{
  width: 65%;
  margin: auto;
  margin-top: 20px;
  border-radius: 12px;
  padding: 20px 0px 20px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#deliver_form h1{
  text-align: center;
}
#deliver_form input{
width: 95%;
height: 40px;
margin: auto;
margin-bottom: 20px;
border-radius: 4px;
outline: none;
}
.submit{
  border: none;
  color: black;
  background-color: skyblue;
  font-size: larger;
}
label{
  color: rgb(167, 165, 165);
  margin-left: 15px;
}

/* --------------------------- */

#brand_logo {
  width: 120px;
  height: 70px;
  padding: 10px 0px 0px 0px;
  margin-left: 20px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold; 
  color: white;
}
#logo{
  width: 70%;
  height: 30px;
  margin-left: 36px;
  display: flex;
  gap: 10px;
  position: relative;
}
#brand_cart_logo{
  width: 40px;
}